Rules for AI Agent - always follow these instructions when generating code:

- always make sure that the ui is consistent and matches the design system defined in tailwind.config.ts
- use tailwind css for styling
- split the code into /components and /pages if it makes sense
- if you need to work wth images, use the placeholder images in the /public folder
